<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    <link href="~/Content/mainStyle.css" rel="stylesheet"/>
</head>
<body>

    <div class="logoPrincipal">
        <div>
            <img class="primero" src="~/Images/logo-abelin-sa.png">
        </div>
        <div>
            <img class="ultimo" src="~/Images/SGS-system-certification.png">
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scriptFinal", required: false);
</body>
</html>
